﻿<%@ Page Title="" Language="C#" MasterPageFile="~/ImageViewer.Master" AutoEventWireup="true" CodeBehind="ErrorPage.aspx.cs" Inherits="Metaviewer.ErrorPage" %>

<asp:Content ID="Content3" ContentPlaceHolderID="MainContent" runat="server">
    
    <div >
        <p runat="server" id="MainMessage" style="font-family: Calibri; font-size: 12pt; font-weight:bold" >
        </p>
    </div>
    <br />
    <asp:Label ID="Label4" runat="server" Font-Size="12pt" Text="Thank you.<br/><br />Haskell ITD"></asp:Label>

</asp:Content>
